.side-nav-outer-toolbar {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;

  .header-component {
    z-index: 1505;
  }
}


.side-navigation-menu { 
  background: linear-gradient(to right, #02A39D, #02A9B7, #02C3A4); 
  //color: #fff;
 }
